<a href="https://colab.research.google.com/github/Nachtttt/OOP-58002/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fundamentals of Python

In [1]:
if 5>2: 
  print("Yes")

Yes

Python Comments

In [2]:
#This is a comment
print("Hello, world")

Hello, world

Python Variable

In [4]:
x = "sally"

a = 0 
a,b,c=0,1,2

print(x)
print(a)
print(b)
print(c)
print(a,b,c)

sally
0
1
2
0 1 2

Casting

In [5]:
d = 4
d = Int(4)
print(d)

4

Type () function

In [54]:
d = 4
d = int(4)
print(type(d))

<class 'int'>

Double qoutes and single quotes

In [12]:
#y = "Ana"
#print(y)

y = 'Ana'
Y = "Robert"
print(y)
print(Y)

Ana
Robert

Multiple Variables

In [18]:
#x = tony
k=l=m="four"
print(k)
print(l)
print(m)
print(k,l,m)

four
four
four
four four four

Output Variable

In [22]:
print('Python programming is enjoying')

h = "enjoying"
p = "Phython programming is "
print("Phython programming is " + h)
print(p+h)

Python programming is enjoying
Phython programming is enjoying
phython programming is enjoying

Arithmetic Operations

In [30]:
print(c+d)  # c = 2, d = 4
print(d-c)
print(d*c)
print(int(d/c))
print(d%c)
print(3//2)   # 1. 50
print(d**c)

6
2
8
2
0
1
16

Assignment Operators

In [36]:
q = 10
q +=5 #same as q=q+5

print (q) #same as q=q+5, q=10+5=15

15

Boolean logic

In [37]:
s=10
print(s^2)
print(s|2)

8
10

 Comparison Operators

In [40]:
print(s>q)
print(s==s)
print(q==q)

False
True
True

Logical Operators

In [45]:
s>q and (s==s) #False
s>q or s==s #True

print(s>q and (s==s))
print(s>q or s==s)

False
True

Identity Operators

In [46]:
s is q
print(s is not q)

True

Bitwise Operator Shift right

In [53]:
u = 2 #0001 in binary
print(u<<1)

4