<a href="https://colab.research.google.com/github/Nachtttt/OOP-58002/blob/main/Operations_and_Epressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [ ]:
print(10>9)
print(10<9)

In [ ]:
a=6
b=7

print(10>9)
print(10<9)
print(a>b)

True
False
False

Bool()Function

In [ ]:
print(bool("Maria"))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(False))
print(bool(True))

True
True
False
False
False
True

Functions can return a Boolean

In [ ]:
def my_Function():
  return True
print(my_Function())

True

In [ ]:
if my_Function():
  print("True")
else:
  print("False")

True

Application 1

In [ ]:
print(10>9)

a=6
b=7

print(a==b)
print(a!=b)

True
False
True

Python Operations

In [ ]:
print(10+5)
print(10-5)
print(10*5)
print(10%5)
print(10//3)
print(10**3)

15
5
50
0
3
1000

Bitwise Operators

In [ ]:
c=60
d=13

c&d
print(c|d)
print(c^d)

print(d<<2)

61
49
52

Logical Operators

In [ ]:
h = True 
l = False
h and l
h or l
not (h or l)

False

Application 2

#Python Assignemnt Operators

In [1]:
x= 10

print(10+3)
print(10-3)
print(10/3)
print(10*3)
print(10%3)

13
7
3.3333333333333335
30
1

Identity Operators

In [ ]:
h is l
h is not l

True

#Control Structure

If Statement

In [10]:
if print(a<b):
  print("a is greater than b")

False

In [13]:
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")

Else Statement

In [14]:
a=10
b=10

if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

Short hand if statement

In [8]:
if a==b: print("a is equal to b")

Short Hand If...Else Statement

In [7]:
a=10
b=9
print("a is greater than b") if a>b else print('b is greater than a')

a is greater than b

And

In [17]:
if a>b and a==b:
  print("both conditins are True")

Or

In [16]:
if a>b or b==b:
  print("Both condition is True")

Both condition is True

Nested If

In [18]:
x=31
if x>10:
  print("x is above 10")
  if x>20:
    print("and also above 20")
  if x>30:
    print("and also above 30")
  if x>40:
    print("and also above 40")
  else:
    print("but not above 40")

x is above 10
and also above 20
and also above 30
but not above 40

#Loop Statement

For loop

In [19]:
week = ["Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday"]

for x in week:
  print(x)

Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday

The break statement

In [33]:
#to display Sunday to Wednesday using break loop
for x in week:
  print(x)
  if x=="Wednesday":
    break

Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday

While statement

In [40]:
i = 1
while i>6:
  print(i)
  i+=1

Application 3 - Creat a python program that display 3

In [39]:
i = 1 
while i<6:
  if i==3:
    break
  i+=1
print(i)

3